
body,th,td,input,select,textarea,select,checkbox {
	font-family :細明體; 
	font:9pt;
}

a:link    {
	font-family :細明體;
	font: 9pt;
	text-decoration: none;
	color:none
}

a:visited {
	font-family :細明體;
	font: 9pt;
	text-decoration: none;
	color: #990000
}

a:active  {
	font-family :細明體;
	font: 9pt;
	text-decoration: none;
	color: #00CC66
}

a:hover   {
	font-family :細明體;
	font: 9pt;
	text-decoration: none;
	color: #ff0000
}

.err_msg{
	font-size:18pt;
	margin:auto;
	width:60%;
	text-align: center;
	padding:0.4em 0;
	background-color:#ff6666;
}
